{{/* Wowchemy Blocks: https://github.com/du33169/wowchemy-block-gallery */}}

{{/* Initialise */}}
{{ $page := .wcPage }}
{{ $block := .wcBlock }}

<div class="row featurette">
  {{ with $block.content.title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $block.content.subtitle }}<p>{{ $block.content.subtitle | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}

  {{ with $block.content.text }}
  <div class="col-md-12">
    {{ . | emojify | $page.RenderString }}
  </div>
  {{ end }}

  {{ range $block.content.items }}
  <div class="col-12 col-sm-4">
    {{ with .img }}
    <div class="featurette-image">
      {{- $img_path := printf "media/%s" . -}}
      {{- $img_resource := resources.Get $img_path -}}
      {{- if $img_resource -}}
        <img src="{{ $img_resource.RelPermalink }}" alt="{{ . }}" class="block-image" loading="lazy">
      {{- end -}}
    </div>
    {{ end }}
    <div class="section-subheading">{{ .name | markdownify | emojify }}</div>
    {{ with .description }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
  </div>
  {{ end }}
</div>
